.title{
    font-family: 'Courier New', Courier, monospace;
    margin:50px 45%;
}
.container{
    width:fit-content;
    margin:100px auto;
    position: relative;
}
.slide{
    height:400px;
    width:500px;
    object-fit: cover;
}