.title{
    font-family: 'Courier New', Courier, monospace;
    margin:50px 45%;
}
.container{
    width:fit-content;
    margin:100px auto;
    position: relative;
}
.slide{
    height:400px;
    width:500px;
    object-fit: cover;
    border-radius: 10px;
}
.arrow{
    position: absolute;
    height:80px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.5s;
}
.left{
    left: -82px;
}
.right{
    right: -82px;
}